/* Tracking Steps Styles */
.track-steps {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .track-steps li {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: #888;
  }
  
  .track-steps li.active-step {
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }
  
  .step-divider {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #ccc;
    margin: 0 10px;
    vertical-align: middle;
  }
  